<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      <div class="headcol" style="color:#2ecc71;margin-left: 60px">Welcome!!!</div>
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="welcome">
      <ion-segment-button value="Search">
        Search
      </ion-segment-button>
      <ion-segment-button value="Post">
        Post
      </ion-segment-button>
      <ion-segment-button value="Profile">
        Profile
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="welcome">
    <ion-list *ngSwitchCase="'Search'">
      <ion-item>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let item of items">
            {{ item }}
          </ion-item>
        </ion-list>
        <ion-card *ngFor="let data of datas">
          <img [src]="data.post" />
          <ion-card-content>
            <ion-card-title>
              {{ data.address }}
            </ion-card-title>
            <p>
              {{ data.description }}
            </p>
            <p>
              {{ data.amount }} per Person
            </p>
          </ion-card-content>
        </ion-card>
        
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Post'">
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text" #address></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" #description></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="text" #amount></ion-input>
      </ion-item>


      <button ion-button block (click)="takeSelfie()">Take Photo</button>
      <button ion-button block (click)="onPost()">Submit</button>

    </ion-list>

    <ion-list *ngSwitchCase="'Profile'">
      <ion-list>
        <ion-item>
          <ion-label floating>
            <ion-icon name="md-contacts"> Name</ion-icon>
          </ion-label>
          <ion-input type="text" [value]="profile[0].name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="md-people"> Age</ion-icon>
          </ion-label>
          <ion-input type="text" [value]="profile[0].age"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-contacts"> Phone no</ion-icon>
          </ion-label>
          <ion-input type="text" [value]="profile[0].phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="md-contact"> Email</ion-icon>
          </ion-label>
          <ion-input type="text" [value]="profile[0].email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="md-lock"> Password</ion-icon>
          </ion-label>
          <ion-input type="password" [value]="profile[0].password"></ion-input>
        </ion-item>
      </ion-list>

      <button ion-button color="danger" block (click)="logOut()">Log Out</button>
    </ion-list>


  </div>
</ion-content>