page-registeration1 {
.card{
	

border-radius:15px;
display:block;
  


}
ion-card.card.card-md {
 margin-top: 63px;
    position: absolute;
    background-color:#ecf0f1

  
}


.scroll-content {
    
    text-align:center;
}








}
